extends layout

block content
    form(name="add-estimation", action='/events' method="post")
        div.input
            span Location
            input(type="text", name="location")
        div.input
            span Description
            input(type="text", name="description")
        div.input
            span Date
            input(type="date", name="date")
        div.actions
            input(type="submit", value="add")