

body{
    font-size: 3em;
}
/*--TREE CANVAS THING ---*/

#tree-container{
    width: 100%;
    height: 400px;
    background-color: skyblue;
    
    position: relative;
    display: block;
    bottom: 100px; /*--tree hangs over 100px as consequence at top --*/
    
    
}

::-webkit-scrollbar{
    display:none;
}

#tree-wrap{
  /*  height: 600px;
    overflow: scroll;
    display:block;
    width: 100%;*/
   
}



.tree-base{
    background-color: saddlebrown;
    height: 100px;
    width: 100px;
    position:absolute;
    bottom: 25px;
    left: 7px;
}

.grass{
    width: 100%;
    background-color: darkolivegreen;
    height: 50px;
    position: absolute;
    bottom: 0px;
}



.tree-top {
    width: 50%;/*200px;*/
    height: 50%; /*300px;*/
/*    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: 220px solid green;*/
    position: absolute;
    left: -100px;
    bottom: -100px;
    background-image: url(../images/treepart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.tree-fruit{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 200px;
    left: 50%;
    z-index: 1000;
    background-color: pink;
    border-radius: 50%;
    
}


.modal{
    z-index: 2000;
    position: fixed;
    top: 300px;
    


}


/*-----MENU ---*/

#garden-menu{
    background-color: beige;
  display:block;
    bottom: 0px;
    text-align: center;
    position:fixed;
    z-index: 1000;
}


#garden-menu>#icon-container>a>div{
    
    width: 15%;
    display: inline-block;
    padding: 20px;
    padding-top: 10px;
    
    

}
#garden-menu img{
  width: 100%;
}

#profile-bar{
    
    height: 40px;
    background-color: dodgerblue;
}
    
#shop-link{
    /*background-color: yellow;*/
    
    width: 120px;
    height: 120px;
    z-index: 0;
    position: fixed;
    top: 50px;
    right: 50px;
    text-align: center;
    background-image: url("../images/sun.png");
    background-position: center;
    background-size: contain;
    
    
    animation-name: sun;

    animation-iteration-count: infinite;

    -webkit-animation-duration:5s; 
    -webkit-animation-timing-function: linear;
    
}

#shop-link2{
    width: 120px;
    height: 120px;
    z-index: 4;
    position: fixed;
    top: 50px;
    right: 50px;
    text-align: center;
    line-height: 100px;

}



@keyframes sun{

    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(359deg);

    }
}



@media (min-width: 700px){
    
}

