

body{
    font-size: 3em;
    font-family: "Helvetica", sans-serif;
}
/*--TREE CANVAS THING ---*/

#tree-container{
    width: 100%;
    height: 400px;
    background-color: skyblue;
    
    position: relative;
    display: block;
    bottom: 100px; /*--tree hangs over 100px as consequence at top --*/
    
    
}

::-webkit-scrollbar{
    display:none;
}

#tree-wrap{
  /*  height: 600px;
    overflow: scroll;
    display:block;
    width: 100%;*/
   
}



.tree-base{
    background-color: saddlebrown;
    height: 100px;
    width: 80px;
    position:absolute;
    bottom: 25px;
    left: 7px;
    display:none;
}

.grass{
    width: 100%;
    background-color: darkolivegreen;
    height: 70px;
    position: absolute;
    bottom: 0px;
}



.tree-top {
    width: 500px;/*200px;*/
    height: 500px;
     /*300px;*/
/*    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: 220px solid green;*/
    position: absolute;
    left: -100px;
    bottom: -100px;
    background-image: url(../images/treepart.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.tree-fruit{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 200px;
    left: 50%;
    z-index: 1000;
    background-color: pink;
    border-radius: 50%;
    
}


.modal{
    z-index: 2000;
    position: fixed;
    top: 300px;
    


}


/*-----MENU ---*/

#garden-menu{
    background-color: beige;
  display:block;
    bottom: 0px;
    text-align: right;
    position:fixed;
    z-index: 1000;
    width: 100%;
}


#garden-menu>#icon-container>a>div{
    
    width: 80px;
    display: inline-block;
    
  
    
}


#garden-menu>#icon-container>a{
    display: inline-block;
    margin-right: 10px;
    padding: 0px 10px;
    
}


#garden-menu img{
  width: 100%;
}

#profile-bar{
    
    height: 50px;
    background-color: dodgerblue;
    font-size: 2em;
    color: white;
}
    
#shop-link{
    /*background-color: yellow;*/
    
    width: 150px;
    height: 150px;
    z-index: 0;
    position: fixed;
    top: 20px;
    right: 0px;
    text-align: center;
    color: white;
    background-image: url("../images/sun.png");
    background-position: center;
    background-size: contain;
    
    
    animation-name: sun;

    animation-iteration-count: infinite;

    -webkit-animation-duration:5s; 
    -webkit-animation-timing-function: linear;
    
}

#shop-link2{
    width: 150px;
    height: 150px;
    z-index: 4;
    position: fixed;
    top: 20px;
    right: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 2em;

}



@keyframes sun{

    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(359deg);

    }
}


#profile-pic{
    width: 25%;
    position: absolute;
    bottom: 10px;
    
    border-radius: 50%;
    overflow: hidden;
    border: 5px skyblue solid;
}

#profile-name{
    margin-right: 20px;
    z-index: 6000;
}

#profile-points{
    
    z-index: 6000;
}


@media (min-width: 700px){
    
}

